<?xml version="1.0" encoding="UTF-8"?>

<beans>
    <bean id="mailService" class="com.alexa.ioc.service.MailService">
        <property name="protocol" value = "POP3"/>
        <property name="port" value = "80"/>
    </bean>

    <bean id="userService" class="com.alexa.ioc.service.UserService">
        <property name="service" ref="mailService"/>
    </bean>

</beans>


